@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

body { 
	font-family: 'Roboto';
}
h1, h2, h3 {
	font-family: 'Open Sans';
	text-transform: uppercase;
}
h1 {
	letter-spacing: .15em;
}
img {
	max-height: 600px;
}
.remark-slide-content h1 {
	font-size: 3em;
}
.remark-slide-content h2 {
	font-size: 1.7em;
}
.remark-slide-content h3 {
	font-size: 1.3em;
}
li {
	line-height: 1.7em; 
}
.inverse {
	color: #777872;
	text-shadow: 0 0 20px #333;
}
.inverse h1, .inverse h2 {
	color: #f3f3f3;
}
.inverse a {
	color: #777872;
}
/* Two-column layout */
.left-column {
	color: #f3f3f3;
	width: 20%;
	height: 92%;
	float: left;
}
.right-column {
	width: 75%;
	float: right;
	padding-top: 1em;
}
